@media (max-width:580px) {
    .list{
        width: 100%;
        flex-direction: column;
        align-items: center;
        display: none;
        padding: 20px;
    }
    label{
        display: block;
    }
    #toggle:checked~.list-1 {
        display: flex;
    }
}
@media screen and (max-width:580px) {
    
}